/* CSS for the project */

html{
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    background-image: linear-gradient(to right,#B8DBEA, #72B7D6);

}

h2{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin:auto;
    display:flex;
    justify-content: center;
    border: 1px solid #4FA5CC;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px #4FA5CC;
        box-shadow: 0 0 5px #4FA5CC;
    height: 500px;
    width: auto;

}

.logo {
    background-color: #4FA5CC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}
.logo img{
    max-width:300px;
    max-height:200px;
}

.login-form{
    display: flex;
    background-color: #fff;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    border-left: 1px solid #63CFFF;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
}
.login-form form{
    width: 100%;
}

.input-div {
    display: flex;
    align-items: center;
    position: relative;

    border-bottom: 1px solid #4FA5CC;
    margin-bottom: 10px;
    
}
.fa {
    opacity: 0.4;
    margin-right: 6px;
}
.input-field{
    padding: 0.2rem;
    margin-top: 2px;
    border:none;
}
.input-field:focus{    
    outline: none;
}
.btn{
    color: #fff;
    margin-top:10px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    background-image: linear-gradient(to right,#4FA5CC, #60AED1,#4FA5CC);
}

.btn:hover{
    background-image: linear-gradient(to right,#37738E, #3F84A3,#37738E);
    cursor: pointer;
}

@media screen and (max-width : 650px){
    .container{
        height: auto;
    }
    .logo{
        display: none;
    }
    .login-form{
        background-color: #fff;
        border-bottom-left-radius:10px;
        border-top-left-radius: 10px;
        border-left: none;;
    }
    .input-field{
        background-color: #fff;
    }

}
